@tailwind base;
@tailwind components;
@tailwind utilities;

@import './index.css';

.App {
  background-color: var(--bg-color);
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.Toolbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  position: sticky;
  z-index: 20;
  top: 0;
  background-color: var(--bg-color);
  width: min(450pt, 100%);
  margin: 0 auto 0 auto;
  padding: max(4pt, env(safe-area-inset-top)) 0 6pt 0;
  font-weight: 800;
  font-size: calc(20pt + 2vmin);
  color: var(--text-color);
}

.IOButtonWrapper {
  display: inline-block;
  padding-left: 8pt;
  padding-right: 8pt;
  margin-left: 8pt;
  margin-right: auto;
}

.Title {
  grid-column-start: 2;
  display: inline-block;
}

.Menu {
  display: inline-block;
  padding-left: 8pt;
  padding-right: 8pt;
  margin-left: auto;
  margin-right: 8pt;
}

.Menu > div > button > svg, .IOButton > button > svg {
  display: inline-block;
  width: calc(8pt + 2vmin);
}

.DialogBox > textarea {
  background-color: var(--lbox-color);
}

.PopoverMenu, .DialogBox {
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 10;
}

.PopoverBackdrop, .DialogBackdrop {
  background-color: var(--backdrop-color);
  z-index: -10;
}

.ListboxContainer > button, .ButtonContainer > button {
  background-color: var(--lbox-color);
}

.ListboxContainer > ul {
  background-color: var(--lbox-color);
}

.App-body {
  display: flex;
  flex-direction: column;
  margin: 10pt auto 10pt;
  min-width: 30pt;
  max-width: 450pt;
  color: var(--text-color);
  font-weight: 200;
}

.Category {
  display: flex;
  flex-direction: column;
  margin: 4pt 12pt 4pt 12pt;
}

.CategoryName {
  display: flex;
  text-align: left;
  margin-bottom: 4pt;
  padding-bottom: 2pt;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  border-bottom-color: var(--border-color);
  position: sticky;
  top: calc(39pt + 3vmin);
  z-index: 5;
  background-color: var(--bg-color);
}

.CategoryName > span {
  text-align: left;
  font-weight: 800;
}

.CategoryName > svg {
  display:  block;
  width: 12pt;
  margin-left: auto;
}

.SeedCell {
  text-align: left;
  margin-top: 8pt;
  margin-bottom: 8pt;
}

.SeedInfo {
  margin-left: 6pt;
}

.SeedName{
  font-weight: 600;
}

.ColorCount {
  margin-left: 8pt;
  font-weight: 200 !important;
}

.ColorComplete {
  margin-left: 8pt;
  margin-right: 8pt;
  padding: 1pt 6pt 1pt 6pt;
  border-radius: 8pt;
  line-height: auto;
  font-weight: 200 !important;
  background-color: var(--completed-color);
}

.CheckboxBlock {
  display: grid;
  grid-template-columns: repeat(auto-fill, 35pt);
  grid-template-rows: 2;
  row-gap: 6pt;
  margin-top: 4pt;
  padding-bottom: 2pt;
}

.CheckboxBlock > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0pt 3pt 0pt 3pt;
  padding: 8pt;
  border-radius: 8pt;
}

.CheckboxBlock > div > input {
  accent-color: green;
}

.redChecked {
  
  background-color: var(--red-checked);
}
.redUnchecked {
  
  background-color: var(--red-unchecked);
}

.yellowChecked {
  background-color: var(--yellow-checked);
}
.yellowUnchecked {
  background-color: var(--yellow-unchecked);
}

.blueChecked {
  background-color: var(--blue-checked);
}
.blueUnchecked {
  background-color: var(--blue-unchecked);
}

.whiteChecked {
  background-color: var(--white-checked);
}
.whiteUnchecked {
  background-color: var(--white-unchecked);
}

.purpleChecked {
  background-color: var(--purple-checked);
}
.purpleUnchecked {
  background-color: var(--purple-unchecked);
}

.greyChecked {
  background-color: var(--grey-checked);
}
.greyUnchecked {
  background-color: var(--grey-unchecked);
}

.pinkChecked {
  background-color: var(--pink-checked);
}
.pinkUnchecked {
  background-color: var(--pink-unchecked);
}

.blankDiv {
  background-color: var(--blank-div);
}

.guideGrid {
  display: grid;
  background-color: var(--bg-color);
  position: sticky;
  bottom: 0;
  z-index: 8;
  border-top-style: solid;
  border-top-width: 1pt;
  border-top-color: var(--border-color);
  grid-template-columns: repeat(auto-fill, 35pt);
  grid-template-rows: 2;
  row-gap: 6pt;
  margin: 8pt 12pt 2pt 12pt;
  padding: 6pt 0pt max(6pt, env(safe-area-inset-bottom)) 0pt;
  min-width: 30pt;
  max-width: 450pt;
}

.guideGrid > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0pt 3pt 0pt 3pt;
  padding: 0pt 8pt 2pt 8pt;
  border-radius: 8pt;
  font-weight: 400;
  color: var(--text-color);
}

.redGuide {
  background-color: var(--red-unchecked);
}
.yellowGuide {
  background-color: var(--yellow-unchecked);
}
.blueGuide {
  background-color: var(--blue-unchecked);
}
.whiteGuide {
  background-color: var(--white-unchecked);
}
.purpleGuide {
  background-color: var(--purple-unchecked);
}
.greyGuide {
  background-color: var(--grey-unchecked);
}
.pinkGuide {
  background-color: var(--pink-unchecked);
}

.Version-info {
  margin: 12pt;
  font-size: 10pt;
  font-weight: 300;
}

/* .CheckboxBlock > div > span {
  display: inline;
  margin: 0pt 2pt 4pt 2pt;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */