:root {
  --bg-color: #f9f8f3;
  --backdrop-color: rgba(249, 248, 243, 0.2);
  --lbox-color: rgb(240, 240, 235);
  --text-color: midnightblue;
  --border-color: lightgrey;
  --completed-color: lightgreen;
  --check-off-color: grey;
  --check-seed-color: rgba(25, 25, 112, 0.7);
  --check-on-color: midnightblue;

  --red-unchecked: rgba(235, 110, 85, 0.2);
  --red-checked: rgb(235, 110, 85);

  --yellow-unchecked: rgba(250, 230, 90, 0.2);
  --yellow-checked: rgb(250, 230, 90);

  --blue-unchecked: rgba(70, 160, 250, 0.2);
  --blue-checked: rgb(70, 160, 250);

  --white-unchecked: rgba(255, 255, 255, 0.26);
  --white-checked: white;

  --purple-unchecked: rgba(170, 110, 240, 0.2);
  --purple-checked: rgb(170, 110, 240);

  --grey-unchecked: rgba(94, 94, 94, 0.2);
  --grey-checked: rgb(94, 94, 94, 0.8);

  --pink-unchecked: rgba(240, 150, 210, 0.2);
  --pink-checked: rgb(240, 150, 210);

  --blank-div: rgb(240, 240, 240);
}

[data-theme="dark"] {
  --bg-color: #191919;
  --backdrop-color: rgba(40, 40, 40, 0.6);
  --lbox-color: rgb(40, 40, 40);
  --text-color: lightgrey;
  --border-color: rgb(80, 80, 80);
  --completed-color: rgb(21, 115, 55);
  --check-off-color: grey;
  --check-seed-color: rgb(200, 200, 200, 0.8);
  --check-on-color: midnightblue;

  --blank-div: rgb(40, 40, 40);
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
